![Parked motorcycle](motorcycle.jpg)

You're working for a company that sells motorcycle parts, and they've asked for some help in analyzing their sales data!

They operate three warehouses in the area, selling both retail and wholesale. They offer a variety of parts and accept credit cards, cash, and bank transfer as payment methods. However, each payment type incurs a different fee.

The board of directors wants to gain a better understanding of wholesale revenue by product line, and how this varies month-to-month and across warehouses. You have been tasked with calculating net revenue for each product line and grouping results by month and warehouse. The results should be filtered so that only `"Wholesale"` orders are included.

They have provided you with access to their database, which contains the following table called `sales`:

## Sales
| Column | Data type | Description |
|--------|-----------|-------------|
| `order_number` | `VARCHAR` | Unique order number. |
| `date` | `DATE` | Date of the order, from June to August 2021. |
| `warehouse` | `VARCHAR` | The warehouse that the order was made from&mdash; `North`, `Central`, or `West`. |
| `client_type` | `VARCHAR` | Whether the order was `Retail` or `Wholesale`. |
| `product_line` | `VARCHAR` | Type of product ordered. |
| `quantity` | `INT` | Number of products ordered. | 
| `unit_price` | `FLOAT` | Price per product (dollars). |
| `total` | `FLOAT` | Total price of the order (dollars). |
| `payment` | `VARCHAR` | Payment method&mdash;`Credit card`, `Transfer`, or `Cash`. |
| `payment_fee` | `FLOAT` | Percentage of `total` charged as a result of the `payment` method. |


Your query output should be presented in the following format:

| `product_line` | `month` | `warehouse` |	`net_revenue` |
|----------------|-----------|----------------------------|--------------|
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_one | --- | --- | --- |
| product_two | --- | --- | --- |
| ... | ... | ... | ... |

In [49]:
--View the structure of the sales table
SELECT * FROM sales LIMIT 10;

  order_number                      date  ...      payment payment_fee
0           N1 2021-06-01 00:00:00+00:00  ...         Cash        0.00
1           N2 2021-06-01 00:00:00+00:00  ...  Credit card        0.03
2           N3 2021-06-01 00:00:00+00:00  ...     Transfer        0.01
3           N4 2021-06-01 00:00:00+00:00  ...     Transfer        0.01
4           N5 2021-06-01 00:00:00+00:00  ...  Credit card        0.03
5           N6 2021-06-02 00:00:00+00:00  ...  Credit card        0.03
6           N7 2021-06-02 00:00:00+00:00  ...  Credit card        0.03
7           N8 2021-06-03 00:00:00+00:00  ...  Credit card        0.03
8           N9 2021-06-03 00:00:00+00:00  ...  Credit card        0.03
9          N10 2021-06-03 00:00:00+00:00  ...  Credit card        0.03

[10 rows x 10 columns]

In [4]:
--Total sales revenue
SELECT SUM(total) AS total_revenue
FROM sales;

   total_revenue
0       289113.0

In [6]:
--Monthly sales trends
SELECT 
    DATE_TRUNC('month', date) AS sale_month,
    SUM(total) AS monthly_revenue
FROM sales
GROUP BY sale_month
ORDER BY sale_month;

                 sale_month  monthly_revenue
0 2021-06-01 00:00:00+00:00         95320.03
1 2021-07-01 00:00:00+00:00         93547.91
2 2021-08-01 00:00:00+00:00        100245.06

In [34]:
--Top 3 best-selling motorcycle parts (most units sold)
SELECT 
    product_line AS part_name, 
    SUM(quantity) AS total_sold, 
    SUM(total) AS total_revenue
FROM sales
GROUP BY product_line
ORDER BY total_sold DESC
LIMIT 3;

               part_name  total_sold  total_revenue
0  Suspension & traction        2145       73014.21
1         Braking system        2130       38350.15
2      Electrical system        1698       43612.71

In [35]:
--Top 3 best-selling motorcycle parts (revenue)
SELECT 
    product_line AS part_name, 
    SUM(quantity) AS total_sold, 
    SUM(total) AS total_revenue
FROM sales
GROUP BY product_line
ORDER BY total_revenue DESC
LIMIT 3;

               part_name  total_sold  total_revenue
0  Suspension & traction        2145       73014.21
1           Frame & body        1619       69024.73
2      Electrical system        1698       43612.71

In [36]:
--Top 3 best-selling motorcycle parts revenue per unit
SELECT 
    product_line AS part_name, 
    ROUND(SUM(total)/SUM(quantity),2) AS total_revenue_per_unit
	
FROM sales
GROUP BY product_line
ORDER BY total_revenue_per_unit DESC
LIMIT 3;

               part_name  total_revenue_per_unit
0                 Engine                   60.52
1           Frame & body                   42.63
2  Suspension & traction                   34.04

In [40]:
--worst-selling motorcycle parts in terms of units
SELECT 
    product_line AS part_name, 
    SUM(quantity) AS total_sold, 
    SUM(total) AS total_revenue
FROM sales
GROUP BY product_line
ORDER BY total_sold ASC
LIMIT 2;

       part_name  total_sold  total_revenue
0         Engine         627       37945.38
1  Miscellaneous        1176       27165.82

In [41]:
--worst-selling motorcycle parts in terms of revenue
SELECT 
    product_line AS part_name, 
    SUM(quantity) AS total_sold, 
    SUM(total) AS total_revenue
FROM sales
GROUP BY product_line
ORDER BY total_revenue ASC
LIMIT 2;

       part_name  total_sold  total_revenue
0  Miscellaneous        1176       27165.82
1         Engine         627       37945.38

In [42]:
--Worst-selling motorcycle parts revenue per unit
SELECT 
    product_line AS part_name, 
    ROUND(SUM(total)/SUM(quantity),2) AS total_revenue_per_unit
	
FROM sales
GROUP BY product_line
ORDER BY total_revenue_per_unit ASC
LIMIT 3;

           part_name  total_revenue_per_unit
0     Braking system                   18.00
1      Miscellaneous                   23.10
2  Electrical system                   25.68

In [47]:
--Revenue contribution by category
SELECT 
    client_type, 
	SUM(total) AS revenue,
	SUM(quantity) AS units_sold
    
FROM sales
GROUP BY client_type
ORDER BY revenue DESC;

  client_type    revenue  units_sold
0   Wholesale  159642.33        5180
1      Retail  129470.67        4215

In [12]:
--Average order value per customer
SELECT 
    warehouse AS customer_id, 
    COUNT(order_number) AS total_orders,
    SUM(total) AS total_spent,
    ROUND(AVG(total), 2) AS avg_order_value
FROM sales
GROUP BY warehouse
ORDER BY total_spent DESC;

  customer_id  total_orders  total_spent  avg_order_value
0     Central           480    141982.88           295.80
1       North           340    100203.63           294.72
2        West           180     46926.49           260.70

In [13]:
--Peak sales days of the week
SELECT 
    EXTRACT(DOW FROM date) AS day_of_week,
    COUNT(*) AS total_sales,
    SUM(total) AS total_revenue
FROM sales
GROUP BY day_of_week
ORDER BY total_sales DESC;

   day_of_week  total_sales  total_revenue
0            6          164       45115.15
1            2          158       54313.58
2            3          143       38850.47
3            5          139       40311.26
4            4          138       35314.43
5            0          133       41151.85
6            1          125       34056.26

In [48]:
--Customer segmentation: High-value vs. low-value customers
SELECT 
    warehouse AS customer_id,
    SUM(total) AS total_spent,
    CASE 
        WHEN SUM(total) > 100000 THEN 'High Value'
        WHEN SUM(total) BETWEEN 50000 AND 100000 THEN 'Medium Value'
        ELSE 'Low Value'
    END AS customer_segment
FROM sales
GROUP BY warehouse
ORDER BY total_spent DESC;

  customer_id  total_spent customer_segment
0     Central    141982.88       High Value
1       North    100203.63       High Value
2        West     46926.49        Low Value

In [15]:
--Identifying seasonal trends
SELECT 
    EXTRACT(MONTH FROM date) AS sale_month,
    SUM(total) AS monthly_revenue
FROM sales
GROUP BY sale_month
ORDER BY sale_month;

   sale_month  monthly_revenue
0           6         95320.03
1           7         93547.91
2           8        100245.06